body{
	background: #DEDEDE;
}

.contenedor {
	width: 900px;
	margin: 0 auto;
}
.header {
}
.slider {
	height: 350px;
	background: green;
}
.cuerpo {
	background: blue;
}
.footer {
	height: 200px;
	background: green;
}
.left, .right {
	width: 250px;
	background: brown;
	height: 500px;
	float: left;
}
.center {
	width: 400px;
	background: silver;
	height: 500px;
	float: left;
}
